spring.application.name=mini-erp

# Banco de Dados PostgreSQL
# Copie este arquivo para application.properties e preencha com suas credenciais locais
spring.datasource.url=${DB_URL:jdbc:postgresql://localhost:5432/mini-erp}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

# Hibernate / JPA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

